* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}
.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

:root {
    --light-purple: rgb(209, 63, 209);
    --dark-purple: rgb(68, 12, 68);
    --correct: rgb(4, 85, 4);
    --wrong: rgb(117, 3, 3);
}

/* Loading Page styles */

#firstpage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firstpage-question-title, #firstpage-text p {
    padding: 10px;
    text-align: center;
}

.firstpage-container, .quiz-container, .finalpage-highscore{
    width: 500px;
    max-width: 80%;
    background-color: rgba(214, 188, 233, 0.966);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Correct/Incorrect Response */

#response {
    padding: 10px;
}

.quiz-highscore, .finalpage-content {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 500px;
    max-width: 80%;
    background-color: rgba(214, 188, 233, 0.966);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Highscores */
#highscore-form {
    display:flex;
    flex-direction: row;
}

#highscore-text {
    padding-bottom: 10px;
}

#highscore-title, #final-highscore-text, #display-highscores {
    padding: 10px;

}

/* Buttons */
.btn-list {
    display: grid;
}

.btn {
    background-color: var(--dark-purple);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.start-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.start-btn:hover {
    cursor: pointer;
    background-color: var(--light-purple);
}

.hide {
    display: none;
}

